name: Windows

on: [push, pull_request]

jobs:
  build:
    continue-on-error: true
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive
    - uses: actions-rust-lang/setup-rust-toolchain@v1
      with:
        toolchain: nightly
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - run: |
        sudo apt-get install binutils-mingw-w64-x86-64 gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 -y 
        cargo install cross --git https://github.com/cross-rs/cross
      
      

    - name: Build
      run: |
       rustup target add x86_64-pc-windows-gnu
       cross build --release --target=x86_64-pc-windows-gnu
       pushd moonlight-web/web-server
       npm install
       npm run build
       mv dist static
       popd

       mv target/x86_64-pc-windows-gnu/release/streamer.exe streamer.exe
       mv target/x86_64-pc-windows-gnu/release/web-server.exe web-server.exe
       mv moonlight-web/web-server/static static

    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: moonlight-web-x86_64-pc-windows-gnu
        path: |
          streamer.exe
          web-server.exe
          static
